name: Build

on:
  workflow_dispatch:
  push:
    branches:
    - 'master'
    tags:
    - 'source/v*.*.*'
    paths:
    - '.github/workflows/build.yml'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: '16'
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install & Build
      run: |
        corepack enable
        corepack prepare pnpm@7.1.0 --activate
        pnpm i --frozen-lockfile
        pnpm build
        mv action.yml dist/action.yml

    - name: Prepare tag
      id: tag
      if: ${{ startsWith(github.ref, 'refs/tags/') }}
      run: |
        VERSION="${GITHUB_REF##refs/tags/source/}"
        echo "::set-output name=version::${VERSION}"
    - name: Distribute
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        user_name: "GitHub Actions"
        user_email: "actions@github.com"
        publish_branch: "dist"
        publish_dir: ./dist
        enable_jekyll: true # not to create .nojekyll since this is not a gh page
        commit_message: 'distribute:'
        tag_name: ${{ steps.tag.outputs.version }} # wouldn't create if empty
        tag_message: 'distribute ${{ steps.tag.outputs.version }}'
    - name: Tag Tracking
      if: ${{ startsWith(github.ref, 'refs/tags/') }}
      uses: H4M5TER/tag-semver-tracking@v1
      with:
        tag: ${{ steps.tag.outputs.version }}
        token: ${{ secrets.GITHUB_TOKEN }}
